<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
</head>
<body>
<div class="main-layout">
    <div>
        <label for="start">Start date:</label>

        <input type="date" id="start">
        <div>
            <label for="name">Destination</label>
            <textarea id="name" placeholder="Chicago, London, Hawaii"></textarea>
        </div>
        <p id="error-text" class="error">Please Enter Text</p>

        <button id="enter" type="submit" class="mdc-button mdc-button--raised">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Enter</span>
        </button>
    </div>
    <div id="result" class="preview">
        <h2 class="mdc-typography mdc-typography--headline6">Preview</h2>
    </div>
    <div id="saved-trips">
        <h2 class="mdc-typography mdc-typography--headline6">Saved Trips</h2>
        <div id="saved-list"></div>
    </div>
</div>
</body>
</html>