<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body>
<header id="top-bar" class="mdc-top-app-bar  mdc-top-app-bar--fixed ta-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Travel Planner</span>
        </section>
    </div>
</header>
<div class="main-layout">
    <div class="mdc-card ta-card">
        <label class="mdc-typography mdc-typography--headline6" for="start">Start date:</label>

        <input class="mdc-typography mdc-typography--body1" type="date" id="start">
        <div>
            <label class="mdc-typography mdc-typography--headline6" for="name">Destination</label>
            <textarea id="name" class="mdc-typography mdc-typography--body1" placeholder="Chicago, London, Hawaii"></textarea>
        </div>
        <p id="error-text" class="error">Please Enter Text</p>

        <button id="enter" type="submit" class="mdc-button mdc-button--raised ta-primary-button">
            <span class="mdc-button__label">Enter</span>
        </button>
    </div>
    <div id="result" class="mdc-card ta-card">
        <h2 class="mdc-typography mdc-typography--headline6">Preview</h2>
    </div>
    <div id="saved-trips">
        <h2 class="mdc-typography mdc-typography--headline4 section-text">Saved Trips</h2>
        <div id="saved-list"></div>
    </div>
</div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>