<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body>
<div class="main-layout">
    <div  class="mdc-card ta-card">
        <label for="start">Start date:</label>

        <input type="date" id="start">
        <div>
            <label for="name">Destination</label>
            <textarea id="name" placeholder="Chicago, London, Hawaii"></textarea>
        </div>
        <p id="error-text" class="error">Please Enter Text</p>

        <button id="enter" type="submit" class="mdc-button mdc-button--raised">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Enter</span>
        </button>
    </div>
    <div id="result" class="mdc-card ta-card">
        <h2 class="mdc-typography mdc-typography--headline6">Preview</h2>
    </div>
    <div id="saved-trips">
        <h2 class="mdc-typography mdc-typography--headline6">Saved Trips</h2>
        <div id="saved-list"></div>
    </div>
</div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>