@use "@material/theme" with (
  $primary: #fcb8ab,
  $secondary: #feeae6,
  $on-primary: #442b2d,
  $on-secondary: #442b2d,
);
@use "@material/card";
@use "@material/button";

@include card.core-styles;
@include button.core-styles;

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.grid-layout {
  display: grid;
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 3fr
  }
}

.button-container button {
  margin: 3px;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}