@import "themes";

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.main-layout {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  position: absolute; /* new */
  left: 50%;
  transform: translateX(-50%);
}

.ta-card {
  width: 400px;
  margin: 50px 50px 0 50px;
  padding: 20px;
}

.error {
  color: red;
}

.preview {
  min-width: 320px;
  margin: 0 25px;
}

.card-img {
  width: 320px;
  height: 180px;
}

.button-container button {
  margin: 3px;
}

.saved-list {
  display: flex;
  flex-flow: row wrap;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}