.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.main-layout {
  display: flex;
  flex-flow: row wrap;
}

.error {
  color: red;
}

.preview {
  min-width: 320px;
  margin: 0 25px;
}

.card-img {
  width: 320px;
  height: 180px;
}

.button-container button {
  margin: 3px;
}

.saved-list {
  display: flex;
  flex-flow: row wrap;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}